/* className Styling */
.AppContainer {
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.HeaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  height: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 16px 0px 16px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.Logo {
  padding-top: 10px;
  width: 160px;
}

@media ( min-width: 1600px) {
    .HeaderContainer {
      padding: 0px 200px 0px 200px;
    }
  }

  @media ( min-width: 1300px) {
    .HeaderContainer {
      padding: 0px 250px 0px 250px;
    }
  }

@media ( max-width: 800px) {
    ul {
      display: none;
    }
  }
.Nav {

  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: 'SBButton';
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}
.NavItem {
    padding: 0px 16px 0px 16px;

}

/* JS component styling */

ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    padding: 20px 0 20px;
  }
  
 li a {
    text-decoration: none;
    position: relative;
    display: block;
    margin: 0 12px;
    font-size: 0.85rem;
    text-transform: capitalize;
    color: #000;
  }
 li a:hover {
    color: black;
  }
 li a:focus, a:active {
    color: black;
  }
  
 li a::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 3px;
    width: 100%;
    background-color: black;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    transition: color 0.1s, -webkit-transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  
 li a:active::before {
    background-color: black;
  }
  
 li a:hover::before,
 li a:focus::before {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
