


.App {
  text-align: center;
  margin: 0px 24px 0px 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Container {
  padding-top: 180px;
  padding-bottom: 32px;
  width: 100%;
}

@media only screen and (max-width: 600px ) {
  .Container {
    padding-top: 220px;
  }
  
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 400px ) {
  .GridWrapper {
    grid-template-columns: minmax(250px, 350px) ;
    justify-content: center;
    align-items: center;
  }
  
}
@media only screen and (max-width: 740px ) {
  .GridWrapper {
    justify-content: center;
    align-items: center;
  }
  
}

@media only screen and (min-width: 740px ) {
  .GridWrapper {
    grid-template-columns: minmax(250px, 350px) minmax(250px, 350px) ;
    justify-content: center;
    align-items: center;
  }
  
}
@media only screen and (min-width: 1085px) {
  .GridWrapper {
    grid-template-columns: minmax(250px, 350px) minmax(250px, 350px) minmax(250px, 350px);
    column-gap: 20px;
    justify-content: center;
    align-items: center;

  }
  
}
.GridWrapper {
  height: 100%;
  width: 100%;
  display: grid;
    gap: 80px 79.5px;
    max-width: 1278px; /* max-width of the layout */
    margin: 0 auto;
  margin-top: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* DOESNT WORK AS INTENDED*/

  [id="tag:Speaker"]:target ~ :not([data-tag~="Speaker"]),
  [id="tag:Accessories"]:target ~ :not([data-tag~="Accessories"]),
  [id="tag:Grills"]:target ~ :not([data-tag~="Grills"]),
  [id="tag:Bundle"]:target ~ :not([data-tag~="Bundle"]),
  [id="tag:Special Editions"]:target ~ :not([data-tag~="Special Editions"]) {
    display: none;
  }

